---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BurgerButton from "../components/BurgerButton.vue";
import V_svg from "../components/v-svg.vue";
---

<Layout title="Andrés Rosales | Engineer">
    <main class="">
      <section class="w-full mx-auto py-16 md:py-28">
        <div class="flex justify-center flex-col">
          <div class="flex justify-center gap-x-4">
            <h1 id="firstname" class="animate-fade-right font-anta"><span class="text-sky-500">And</span>rés</h1>
            <h1 id="lastname" class="animate-fade-left font-anta"><span class="text-sky-500">Ros</span>ales</h1>
          </div>
          <div class="flex flex-col items-center gap-y-4">
            <div class="flex justify-center gap-x-4">
              <h3 id="fullstack" class="animate-flip-down animate-delay-500">FULLSTACK</h3>
              <h3 id="developer" class="animate-flip-up animate-delay-700">DEVELOPER</h3>
            </div>
            <div class="flex justify-center items-center gap-x-4">
              <button class="animate-fade animate-delay-[1500ms]">
                <V_svg name="Github" customClass="text-gray-800 w-6 h-6 dark:text-gray-100"/>
              </button>
              <button class="animate-fade animate-delay-[1750ms]">
                <V_svg name="LinkedIn" customClass="text-gray-800 w-7 h-7 dark:text-gray-100"/>
              </button>
              <!-- <button class="animate-fade animate-delay-[2000ms]">
                <V_svg name="Mail" customClass="text-gray-800 w-6 h-6 dark:text-gray-100"/>
              </button> -->
              <button class="animate-fade animate-delay-[2000ms]">
                <V_svg name="Telegram" customClass="text-gray-800 w-6 h-6 dark:text-gray-100"/>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="w-full bg-sky-500 dark:bg-sky-800 min-h-[100px] /*text-gray-100*/">
        <div class="flex flex-col justify-around md:flex-row">
          <div class="flex items-center gap-x-2">
            <h2 id="experience">0</h2>
            <div class="flex flex-col">
              <span>AÑOS DE</span>
              <span>EXPERIENCIA</span>
            </div>
          </div>

          <div class="flex items-center gap-x-2">
            <h2 id="projects">0</h2>
            <div class="flex flex-col">
              <span>PROYECTOS COMPLETADOS</span>
              <span>ALREDEDOR DEL MUNDO</span>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <div>
              Proyecto realizado principalmente con:
            </div>
            <div class="flex justify-around items-center gap-x-8">
              <img src="https://astro.build/assets/press/astro-logo-light-gradient.svg" class="w-36" alt="item1">
              <img src="https://tailwindcss.com/_next/static/media/tailwindcss-logotype-white.944c5d0ef628083bb316f9b3d643385c86bcdb3d.svg" class="w-36" alt="item2">
              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" class="w-16" alt="item2"> -->
              <!-- <img src="https://placehold.co/50x50/png" alt="item3"> -->
              <!-- <img src="https://media.licdn.com/dms/image/D4D12AQEL9aeB8WqRaw/article-cover_image-shrink_600_2000/0/1685204779306?e=2147483647&v=beta&t=jr7Um-vZDvcgCCzx0a48zCEr3RtUyRVqelGOzrpL4bs" class="w-16" ="item3"> -->
              <img src="https://flowbite.s3.amazonaws.com/brand/logo-dark/type/flowbite-logo.png" class="w-36" alt="item4">
              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/800px-Laravel.svg.png" class="w-12" alt="item4"> -->
              <!-- <img src="https://media.licdn.com/dms/image/D4E12AQEhSWRTreXYew/article-cover_image-shrink_600_2000/0/1694479065771?e=2147483647&v=beta&t=2fX6sWIIQzrJhYJfi6lFLXv42TExMElMe1QZaOexx4M" class="w-32" alt="item4"> -->
              <!-- <img src="https://mochikit.com/wp-content/uploads/2019/01/vue-js-logo.png" class="w-28" alt="item5"> -->
            </div>
          </div>
  
        </div>
      </section>

    </main>
</Layout>

<style>
  .text-gradient {
		background-image: linear-gradient(90deg, rgb(2, 132, 199), rgb(14, 165, 233), rgb(103, 232, 249));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

  h1{
    font-size: 5rem;
    font-weight: bold;
  }

  h2{
    font-size: 4rem;
    font-weight: bold;
  }

  h3{
    font-size: 2rem;
    font-weight: bold;
  }

</style>

<script type="module">
  import '../../node_modules/flowbite/dist/flowbite';

  const play_numbers = (experience, element) => {
    const exp = experience;
    const exp_string = document.getElementById(element);
    let i = 0;

    function incrementNumber() {
      if (i <= exp) {
        exp_string.innerHTML = i;
        i++;
        setTimeout(incrementNumber, 100 /* / (i / 100) */);
      }

      if (i === exp)
        exp_string.classList.add('animate-jump')
    }

    incrementNumber();
  }

play_numbers(3, 'experience');
play_numbers(8, 'projects');
</script>