---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import CounterBar from "../components/CounterBar.astro";
import Experience from "../components/Experience.astro";
/* import BurgerButton from "../components/BurgerButton.vue";
import V_svg from "../components/v-svg.vue"; */
---

<Layout title="Andrés Rosales | Engineer">
    <main class="">
      <section class="w-full mx-auto py-16 md:py-28 container">
        <Hero />
      </section>

      <section class="w-full bg-sky-500 dark:bg-sky-800 min-h-[100px] text-gray-100">
        <CounterBar />
      </section>

      <div class="space-y-16 py-16">
        <section class="md:w-10/12 mx-auto">
          <Experience />
        </section>

        <section class="md:w-10/12 mx-auto">
          <h3 class="flex gap-x-6 items-center mb-8">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-braces w-8 h-8" viewBox="0 0 16 16">
                <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/>
              </svg>
            </span>
            Proyectos realizados
          </h3>
          <Projects />
        </section>
      </div>

    </main>
</Layout>

<style>
  .text-gradient {
		background-image: linear-gradient(90deg, rgb(2, 132, 199), rgb(14, 165, 233), rgb(103, 232, 249));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

  h1{
    font-size: 5rem;
    font-weight: bold;
  }

  h2{
    font-size: 4rem;
    font-weight: bold;
  }

  h3{
    font-size: 2rem;
    font-weight: bold;
  }

</style>

<script type="module">
  import '../../node_modules/flowbite/dist/flowbite';
</script>