---
import Navigation from "./commons/NavigationItems.astro";

interface Props {
    lang: string,
}

const { lang } = Astro.props;

const navOptions = [{
    lang: lang,
    section: 'burger'
}]
---
<div {...Astro.props}>
    <button title="button" type="button" id="burger" class="z-50 relative flex items-center justify-center w-5 h-5">
        <span class="base bg-gray-900 dark:bg-gray-100 before:bg-gray-900 dark:before:bg-gray-100 after:bg-gray-900 dark:after:bg-gray-100"></span>
    </button>


    <!-- Menú desplegable -->
    {
        navOptions.map(items => (
            <Navigation {...items} />
        ))
    }
</div>

<script>
    const menu = document.getElementById('burger');
    const list = document.getElementById('burger_list');

    menu.addEventListener('click', toggleMenu);
    
    function toggleMenu(){
        list.classList.toggle('hidden');
        list.classList.toggle('flex');
        menu.classList.toggle('open');

        menu.classList.contains('open') ? (
            document.getElementById('nav').classList.remove('backdrop-blur-lg'),
            document.querySelector('body').classList.add('overflow-hidden')
        ) : (
                document.getElementById('nav').classList.add('backdrop-blur-lg'),
                document.querySelector('body').classList.remove('overflow-hidden')
            )
    }

</script>

<style>
    span.base {
        @apply w-[25px] h-[3px] shadow-[0_2px_5px_rgba(255,101,47,0.2)] transition-all duration-[0.5s] ease-[ease-in-out] rounded-[5px] before:-translate-x-2.5 before:translate-y-[-7px] after:-translate-x-2.5 after:translate-y-[7px];
    }
    span.base::before,
    span.base::after {
        @apply content-[''] absolute w-5 h-[3px] shadow-[0_2px_5px_rgba(255,101,47,0.2)] transition-all duration-[0.5s] ease-[ease-in-out] rounded-[5px];
    }
    button.open span.base {
        @apply -translate-x-2.5 shadow-none before:rotate-45 before:bg-gray-100 before:translate-x-0 before:translate-y-0 after:-rotate-45 after:bg-gray-100 after:translate-x-0 after:translate-y-0;
        background: transparent;
    }

    @keyframes svg-animation{
        to {
            @apply text-gray-100 bg-transparent;
        }
    }
    </style>