---
const TOTAL_EXPERIENCE = 5;
const EXPERIENCE = 3;
const PROJECTS = 8;
---
<div class="flex flex-row items-center justify-around">
  <div class="flex items-center gap-x-1 md:gap-x-2">
    <span class="text-2xl md:text-5xl">+</span>
    <h2 id="total_experience">{TOTAL_EXPERIENCE}</h2>
    <div class="flex flex-col title">
      <span>AÑOS DE</span>
      <span>EXPERIENCIA</span>
    </div>
  </div>
  <div class="flex items-center gap-x-1 md:gap-x-2">
    <span class="text-2xl md:text-5xl">+</span>
    <h2 id="experience">{EXPERIENCE}</h2>
    <div class="flex flex-col title">
      <span>AÑOS EN</span>
      <span>EL ÁREA</span>
    </div>
  </div>

  <div class="flex items-center gap-x-1 md:gap-x-2">
    <span class="text-2xl md:text-5xl">+</span>
    <h2 id="projects">{PROJECTS}</h2>
    <div class="flex flex-col title">
      <span>PROYECTOS</span>
      <span>REALIZADOS</span>
    </div>
  </div>
</div>

<script>
const play_numbers = (experience, element) => {
    const exp = experience;
    const exp_string = document.getElementById(element);
    let i = 0;

    function incrementNumber() {
        if (i <= exp) {
            exp_string.innerHTML = `${i}`;
            i++;
            setTimeout(incrementNumber, 100 /* / (i / 100) */);
        }

        if (i === exp)
            exp_string.classList.add('animate-jump')
    }

    incrementNumber();
}

play_numbers(5, 'total_experience')
play_numbers(3, 'experience');
play_numbers(8, 'projects');
</script>

<style>
    h2{
        font-size: 4rem;
        font-weight: bold;
    }

    @media (max-width: 678px) {
      h2{
        font-size: 2rem;
      }

      .title{
        font-size: 10px;
      }
    }
</style>