---
import Asoft from "./icons/Asoft.astro";

const navItems = [
    {
        title: "Experiencia",
        href: "/#experiencia",
    },
    {
        title: "Proyectos",
        href: "/#proyectos",
    },
    {
        title: "Sobre mí",
        href: "/#sobre-mi",
    },
]
---
<footer class="w-full md:w-10/12 mx-auto border-t-2 border-t-sky-500 dark:border-t-sky-600 py-10 flex flex-col gap-y-6 md:flex-row justify-between items-center">
    <div>
        <Asoft class="w-28 h-10"/>
    </div>
    <div>
        <ul class="flex flex-row gap-x-4 text-sm">
            {
                navItems.map(item => (
                    <a href={ item.href }>
                        <li> { item.title } </li>
                    </a>
                ))
            }
        </ul>
    </div>
</footer>