---
import Github from './icons/Github.astro';
import LinkedIn from './icons/LinkedIn.astro';
import Telegram from './icons/Telegram.astro';
import ButtonModel from './buttons/button-model.astro';
---
<div class="flex justify-center flex-col">
  <div class="flex justify-center gap-x-3 text-4xl md:text-8xl md:gap-x-4">
    <h1 id="firstname" class="animate-fade-right"><span class="text-gradient">And</span>rés</h1>
    <h1 id="lastname" class="animate-fade-left"><span class="text-gradient">Ros</span>ales</h1>
  </div>
  <div class="flex flex-col items-center gap-y-4">
    <div class="flex justify-center gap-x-2 text-md md:text-4xl md:gap-x-4">
      <h3 id="fullstack" class="animate-flip-down animate-delay-500">FULLSTACK</h3>
      <h3 id="developer" class="animate-flip-up animate-delay-700">DEVELOPER</h3>
    </div>
    <ButtonModel id="cv-link" label='Descargar CV' icon='Download' lang='es' classes='transition animate-fade animate-delay-[1000ms]' href='https://andresaerg.github.io/Astro-Portfolio/assets/CV-AndrésRosales[2K24].pdf' isDownloadable/>
    <div class="flex justify-center items-center gap-x-4">
      <button class="animate-fade animate-delay-[1500ms]">
        <a href="https://github.com/Andresaerg" target="_blank" class="hover:text-sky-500 transition">
          <span class="sr-only">Github</span>
          <Github class="w-7 h-7"/>
        </a>
      </button>
      <button class="animate-fade animate-delay-[1750ms]">
        <a href="https://www.linkedin.com/in/andr%C3%A9s-rosales-21423125b/" target="_blank" class="hover:text-sky-500 transition">
          <span class="sr-only">Linkedin</span>
          <LinkedIn class="w-8 h-8"/>
        </a>
      </button>
      <button class="animate-fade animate-delay-[2000ms]">
        <a href="https://telegram.me/arcodev_4" target="_blank" class="hover:text-sky-500 transition">
          <span class="sr-only">Telegram</span>
          <Telegram class="w-7 h-7"/>
        </a>
      </button>
    </div>
  </div>
</div>