---
import Alpine from "./icons/skills/alpinedotjs.astro";
import Bootstrap from "./icons/skills/bootstrap.astro";
import Chartjs from "./icons/skills/chartdotjs.astro";
import Csharp from "./icons/skills/csharp.astro";
import Css from "./icons/skills/css3.astro";
import Dart from "./icons/skills/dart.astro";
import Dotnet from "./icons/skills/dotnet.astro";
import Express from "./icons/skills/express.astro";
import Flutter from "./icons/skills/flutter.astro";
import Git from "./icons/skills/git.astro";
import Html from "./icons/skills/html5.astro";
import JS from "./icons/skills/javascript.astro";
import Laravel from "./icons/skills/laravel.astro";
import Livewire from "./icons/skills/livewire.astro";
import Mariadb from "./icons/skills/mariadb.astro";
import Microsoftdb from "./icons/skills/microsoftsqlserver.astro";
import Mongodb from "./icons/skills/mongodb.astro";
import Mysql from "./icons/skills/mysql.astro";
import Nodejs from "./icons/skills/nodedotjs.astro";
import Php from "./icons/skills/php.astro";
import Phpmyadmin from "./icons/skills/phpmyadmin.astro";
import Postman from "./icons/skills/postman.astro";
import Sqlite from "./icons/skills/sqlite.astro";
---
<noscript>
    <style>
        .splide{
            display: none;
        }
    </style>
    <div class="text-2xl py-4 my-16">
        Se requiere JavaScript para esta sección
    </div>
</noscript>

<section class="splide w-full py-4 my-16" aria-labelledby="this-header">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Alpine class="w-16 h-16"/>
                    Alpine.js
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Bootstrap class="w-16 h-16" />
                    Bootstrap
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Chartjs class="w-16 h-16"/>
                    Chart.js
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Csharp class="w-16 h-16" />
                    C#
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Css class="w-16 h-16" />
                    CSS
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Dart class="w-16 h-16" />
                    Dart
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Dotnet class="w-16 h-16" />
                    .NET Framework
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Express class="w-16 h-16" />
                    Express.js
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Flutter class="w-16 h-16" />
                    Flutter
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Git class="w-16 h-16" />
                    Git
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Html class="w-16 h-16" />
                    HTML
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <JS class="w-16 h-16" />
                    JavaScript
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Laravel class="w-16 h-16" />
                    Laravel
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Livewire class="w-16 h-16" />
                    Livewire
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Mariadb class="w-16 h-16" />
                    MariaDB
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Microsoftdb class="w-16 h-16" />
                    MS SQL Server
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Mongodb class="w-16 h-16" />
                    MongoDB
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Mysql class="w-16 h-16" />
                    MySQL DB
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Nodejs class="w-16 h-16" />
                    Node.js
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Php class="w-16 h-16" />
                    Php vanilla
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Phpmyadmin class="w-16 h-16" />
                    PhpMyAdmin
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Postman class="w-16 h-16" />
                    Postman
                </div>
            </li>
            <li class="splide__slide">
                <div class="flex flex-col items-center">
                    <Sqlite class="w-16 h-16" />
                    SQLite
                </div>
            </li>
        </ul>
    </div>
</section>

<style>
    .splide__track{
        cursor: grab;
    }

    .splide__track:active{
        cursor: grabbing;
    }
</style>

<script>
    import '@splidejs/splide/css/skyblue';
    import { Splide } from '@splidejs/splide';
    import { AutoScroll } from '@splidejs/splide-extension-auto-scroll';

    const splide = new Splide( '.splide', {
        type: 'loop',
        drag: 'free',
        focus: 'center',
        arrows: false,
        perPage: 6,
        pauseOnHover: false,
        pauseOnFocus: false,
        pagination: false,
        autoScroll: {
            speed: 1,
            pauseOnHover: false,
        },
        breakpoints: {
            768: {
                perPage: 4
            },
            640: {
                perPage: 2
            }
        }
    });

    splide.mount({AutoScroll});
</script>